.error-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
    color: red;
}
.boom {
    font-size: 2rem;
}
.death {
    width: 64px;
    height: 64px;
}